[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pipenv-setup = "*"
toriicli = {editable = true,path = "."}

[packages]
pyyaml = ">=5.3.1"
marshmallow = ">=3.6.0"
click = ">=7.1.2"
python-dotenv = ">=0.13.0"
boto3 = ">=1.13.16"
jinja2 = ">=2.11.2"
pefile = ">=2019.4.18"
xmltodict = ">=0.12.0"

[requires]
python_version = "3.7"

[scripts]
setupsync = "pipenv-setup sync --pipfile"