[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pipenv-setup = "*"
toriicli = {editable = true,path = "."}

[packages]
pyyaml = "*"
marshmallow = "*"
click = "*"
appdirs = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
